  <!-- Footer Start -->
  <div class="container-fluid bg-grey text-light mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-md-6 pt-5">
          <div class="row">
            <div class="col-md-4  text-center border-right">
              <img src="../../assets/img/Logo2.png" class="icon-resize3" alt="">
            </div>
            <div class="col-md-7 px-5">
              <p class="text-dark text-center fs-9">مشاوره و خدمات مشتریان</p>
              <p class="text-dark text-center fs-9">۰۹۳۷۱۱۸۳۸۲۸</p>
              <p class="text-dark text-center fs-9">ساری،میدان شهدا،
                خیابان فرهنگ،ساختمان سیمرغ</p>

            </div>
          </div>
        </div>
        <div class="col-md-2">
          <p class="mb-1 text-dark fs-71 mb-2">محصولات</p>
          <a href="">
            <p class="mb-1 fs-9 text-dark btn-link" href="">عینک طبی</p>
          </a>
          <a href="">
            <p class="mb-1  fs-9 text-dark btn-link" href="">عینک کامپیوتر</p>
          </a>
          <a href="">
            <p class="mb-1  fs-9 text-dark btn-link" href="">عینک آفتابی</p>
          </a>
          <a href="">
            <p class="mb-1  fs-9 text-dark btn-link" href="">عینک کودکان</p>
          </a>
          <a href="">
            <p class="mb-1  fs-9 text-dark btn-link" href="">عینک شنا</p>
          </a>
          <a href="">
            <p class="mb-1  fs-9 text-dark btn-link" href="">لنز</p>
          </a>
          <a href="">
            <p class="mb-1  fs-9 text-dark btn-link" href="">لوازم جانبی</p>
          </a>
        </div>
        <div class="col-md-2">
          <p class="mb-1 text-dark fs-71 mb-1">دریافت نسخه</p>
          <p class="mb-1 text-dark fs-71 mb-1">حساب کاربری</p>
          <a href="">
            <p class="mb-1 fs-9 text-dark btn-link" href="">حساب کاربری من</p>
          </a>
          <a href="">
            <p class="mb-1 fs-9  text-dark btn-link" href="">سفارشات من</p>
          </a>

          <p class="mb-1 text-dark fs-71 mb-1">پشتیبانی</p>

          <a href="">
            <p class="mb-1 fs-9 text-dark btn-link" href="">سوالات متداول</p>
          </a>

        </div>
        <div class="col-md-2">
          <p class="mb-1 text-dark fs-71 mb-1">مقاله‌ها</p>
          <p class="mb-1 text-dark fs-71 mb-1">تست مجازی عینک‌ها</p>
          <p class="mb-1 text-dark fs-71 mb-1">درباره ما</p>

        </div>

      </div>
    </div>

  </div>
  <!-- Footer End -->