/* Add this CSS to your stylesheet */
.image-container {
    position: relative;
    display: inline-block; /* Ensures the container doesn't collapse */
    height: auto; /* Ensure the height adjusts to the image */
    margin-top: 5rem;
  }
  
  .delete-button {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(120, 120, 120); /* Background color for the button */
    color: white; /* Text color for the button */
    border: none;
    width: 1.2rem;
    height:  1.2rem;
    border-radius: 50%;
    cursor: pointer;
    padding-bottom: 1.5rem;
  }
  
  .delete-button i {
    font-size: 16px; /* Adjust the size of the X icon */
  }
  