#nav-indicator {
    position: absolute;
    bottom: 0;
    height: 2px; /* Height of the indicator line */
    background-color: #007bff; /* Indicator color */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out; /* CSS transition for animation */
}

.basket-icon-container {
    position: relative;
    display: inline-block;
}

.basket-icon {
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -12px; /* Move the badge 5 pixels up */
    right: 0;
    background-color: #ff5733; /* Badge background color */
    color: #fff; /* Badge text color */
    font-size: 12px; /* Badge font size */
    border-radius: 50%; /* Make it a circle */
    width: 20px; /* Adjust the size to fit your content */
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

