<body>
    <!-- Header Start -->
    <div class="container-fluid bg-white p-0 mb-5">
        <div class="row g-0 flex-column-reverse d-flex justify-content-center flex-lg-row">
            <div class="col-lg-11 p-0 pt-4 wow fadeIn" data-wow-delay="0.1s">
                <a href=""><img src="../../../assets/img/hero2.png" class="img-fluid" alt="">
                </a>
            </div>

        </div>
    </div>
    <!-- Header End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 d-flex justify-content-between">
                <div class="col-md-1 ps-0" id="filter-link">
                    <img src="../../../assets/img/icon/i4.png" class="icon-resize px-1" alt="">
                    <a href="" class="px-1 text-dark" id="filter-link">فیلتر</a>
                </div>
                <div class="col-md text-end">
                    <img src="../../../assets/img/icon/i5.png" class="icon-resize px-1" alt="">
                    <a href="" class="px-1 text-dark">جستجو</a>

                </div>
                <div class="col-md text-start">
                    <div class="form-check form-switch">
                        <label class="text-dark">فقط آیتم‌های موجود
                        </label>
                        <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="yes">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-grey py-2" id="filter" style="display: none;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <ul id="myTabs" class="nav nav-pills nav-justified justify-content-center px-0" role="tablist"
                    data-tabs="tabs">
                    <li class="py-3"><a href="#shape" data-bs-toggle="tab">شکل فریم</a></li>
                    <li class=" px-3 py-3"><a href="#type" data-bs-toggle="tab">نوع فریم</a></li>
                    <li class=" px-3 py-3"><a href="#color" data-bs-toggle="tab">رنگ</a></li>
                    <li class=" px-3 py-3"><a href="#brand" data-bs-toggle="tab">برند</a></li>
                    <li class=" px-3 py-3"><a href="#cost" data-bs-toggle="tab">قیمت</a></li>

                </ul>
                <div class="tab-content py-3">
                    <div role="tabpanel" class="tab-pane fade in show active" id="shape">

                        <div class="row d-flex justify-content-center">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-md bg-white mx-2 rounded1 hover1">
                                        <div class="text-center">
                                            <img src="../../../assets/img/00.png" class="img-fluid my-4" alt="">
                                            <p class="text-dark text-center">گرد</p>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white mx-2 rounded1 hover1">
                                        <div class="text-center">
                                            <img src="../../../assets/img/000.png" class="img-fluid my-4" alt="">
                                            <p class="text-dark text-center">مستطیل</p>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white mx-2 rounded1 hover1">
                                        <div class="text-center">
                                            <img src="../../../assets/img/0000.png" class="img-fluid my-4" alt="">
                                            <p class="text-dark text-center">مربع</p>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white mx-2 rounded1 hover1">
                                        <div class="text-center">
                                            <img src="../../../assets/img/00000.png" class="img-fluid my-4" alt="">
                                            <p class="text-dark text-center">خلبانی</p>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white mx-2 rounded1 hover1">
                                        <div class="text-center">
                                            <img src="../../../assets/img/000000.png" class="img-fluid my-4" alt="">
                                            <p class="text-dark text-center">گربه‌ای</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center text-center">
                                    <div class="col text-center py-3">
                                        <p class="text-primary">فیلتر‌ها <span class="number-border ms-2 fs-9">۱</span>
                                            <span class="text-grey  border-right2 px-2">۱۲۰ فریم</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="type">
                        <div class="row d-flex justify-content-center">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-md bg-white mx-2 rounded1 hover1">
                                        <div class="text-center">
                                            <img src="../../../assets/img/9.png" class="img-fluid my-4" alt="">
                                            <p class="text-dark text-center">کائوچویی</p>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white mx-2 rounded1 hover1">
                                        <div class="text-center">
                                            <img src="../../../assets/img/99.png" class="img-fluid my-4" alt="">
                                            <p class="text-dark text-center">فلزی</p>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white mx-2 rounded1 hover1">
                                        <div class="text-center">
                                            <img src="../../../assets/img/999.png" class="img-fluid my-4" alt="">
                                            <p class="text-dark text-center">تیتانیوم</p>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white mx-2 rounded1 hover1">
                                        <div class="text-center">
                                            <img src="../../../assets/img/9999.png" class="img-fluid my-4" alt="">
                                            <p class="text-dark text-center">دورقاب</p>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white mx-2 rounded1 hover1">
                                        <div class="text-center">
                                            <img src="../../../assets/img/999999.png" class="img-fluid my-4" alt="">
                                            <p class="text-dark text-center">نیم‌قاب</p>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white mx-2 rounded1 hover1">
                                        <div class="text-center">
                                            <img src="../../../assets/img/99999.png" class="img-fluid my-4" alt="">
                                            <p class="text-dark text-center">بدون فریم</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center text-center">
                                    <div class="col text-center py-3">
                                        <p class="text-primary">فیلتر‌ها <span class="number-border ms-2 fs-9">۱</span>
                                            <span class="text-grey  border-right2 px-2">۱۲۰ فریم</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in " id="color">
                        <div class="row d-flex justify-content-center">
                            <div class="col-8">
                                <div class="row">

                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <div class="row">
                                            <div class="col-3 d-flex align-items-center">
                                                <img src="../../../assets/img/brown.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="col-7 d-flex align-items-center text-end px-0">
                                                <p class="text-dark mb-0 text-start">قهوه‌ای</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <div class="row">
                                            <div class="col-3 d-flex align-items-center">
                                                <img src="../../../assets/img/gold.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="col-7 d-flex align-items-center text-end px-0">
                                                <p class="text-dark mb-0 text-start">طلایی</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <div class="row">
                                            <div class="col-3 d-flex align-items-center">
                                                <img src="../../../assets/img/green.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="col-7 d-flex align-items-center text-end px-0">
                                                <p class="text-dark mb-0 text-start">سبز</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <div class="row">
                                            <div class="col-3 d-flex align-items-center">
                                                <img src="../../../assets/img/navy.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="col-7 d-flex align-items-center text-end px-0">
                                                <p class="text-dark mb-0 text-start">سورمه‌ای</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <div class="row">
                                            <div class="col-3 d-flex align-items-center">
                                                <img src="../../../assets/img/black.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="col-7 d-flex align-items-center text-end px-0">
                                                <p class="text-dark mb-0 text-start">مشکی</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row pt-2">

                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <div class="row">
                                            <div class="col-3 d-flex align-items-center">
                                                <img src="../../../assets/img/red.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="col-7 d-flex align-items-center text-end px-0">
                                                <p class="text-dark mb-0 text-start">قرمز</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <div class="row">
                                            <div class="col-3 d-flex align-items-center">
                                                <img src="../../../assets/img/blue.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="col-7 d-flex align-items-center text-end px-0">
                                                <p class="text-dark mb-0 text-start">آبی</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <div class="row">
                                            <div class="col-3 d-flex align-items-center">
                                                <img src="../../../assets/img/pink.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="col-7 d-flex align-items-center text-end px-0">
                                                <p class="text-dark mb-0 text-start">صورتی</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <div class="row">
                                            <div class="col-3 d-flex align-items-center">
                                                <img src="../../../assets/img/grey.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="col-7 d-flex align-items-center text-end px-0">
                                                <p class="text-dark mb-0 text-start">طوسی</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <div class="row">
                                            <div class="col-3 d-flex align-items-center">
                                                <img src="../../../assets/img/silver.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="col-7 d-flex align-items-center text-end px-0">
                                                <p class="text-dark mb-0 text-start">نقره‌ای</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row d-flex justify-content-center text-center">
                                    <div class="col text-center py-3">
                                        <p class="text-primary">فیلتر‌ها <span class="number-border ms-2 fs-9">۱</span>
                                            <span class="text-grey  border-right2 px-2">۱۲۰ فریم</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in " id="brand">
                        <div class="row d-flex justify-content-center">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <p class="text-dark mb-0 text-center">FredMartens</p>

                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <p class="text-dark mb-0 text-center">FredMartens</p>

                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <p class="text-dark mb-0 text-center">FredMartens</p>

                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <p class="text-dark mb-0 text-center">FredMartens</p>

                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <p class="text-dark mb-0 text-center">FredMartens</p>

                                    </div>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <p class="text-dark mb-0 text-center">FredMartens</p>

                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <p class="text-dark mb-0 text-center">FredMartens</p>

                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <p class="text-dark mb-0 text-center">FredMartens</p>

                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <p class="text-dark mb-0 text-center">FredMartens</p>

                                    </div>
                                    <div class="col-md bg-white py-3 mx-2 rounded1 hover1">
                                        <p class="text-dark mb-0 text-center">FredMartens</p>

                                    </div>

                                </div>
                                <div class="row d-flex justify-content-center text-center">
                                    <div class="col text-center py-3">
                                        <p class="text-primary">فیلتر‌ها <span class="number-border ms-2 fs-9">۱</span>
                                            <span class="text-grey  border-right2 px-2">۱۲۰ فریم</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in " id="cost">
                        <div class="row d-flex justify-content-center">
                            <div class="col-8">
                                <div class="" width="300px" height="50px">

                                    <div class="row d-flex bg-white rounded1 ps-5 justify-content-center">
                                        <div class="rangeslider bg-white rounded1 ps-5 pe-4" style="width: 338px;">
                                            <input class="min" name="range_1" type="range" min="1" max="100"
                                                value="10" />
                                            <input class="max" name="range_1" type="range" min="1" max="100"
                                                value="90" />
                                            <span class="range_min light right">10.000 </span>
                                            <span class="range_max light left">90.000 </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row d-flex pt-5 justify-content-center text-center">
                                    <div class="col text-center py-3">
                                        <p class="text-primary">فیلتر‌ها <span class="number-border ms-2 fs-9">۱</span>
                                            <span class="text-grey  border-right2 px-2">۱۲۰ فریم</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row d-flex pt-5 justify-content-center">
                <div *ngFor="let model of products" class="col-md-4">
                    <app-product-card [model]="model" [theme]="'list'">
                    </app-product-card>
                </div>

            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- About Start -->
    <div class="container-fluid py-1" style="background-color: #e2f3fb;">
        <div class="container">
            <div class="row g-5 py-1 d-flex justify-content-center">
                <div class="col-5 text-center mx-4 my-1 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="text-dark mb-2 mt-5 pt-5 fs-8">خرید لنز‌های طبی و رنگی</p>


                    <p class="text-primary mb-5 px-1 pt-2">برای شروع کلیک کن<img src="../../../assets/img/icon/i3.png"
                            class="icon-resize" alt="">
                    </p>
                </div>
                <div class="col-4 d-none d-md-block">
                    <img src="../../../assets/img/mask2.png" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">


            <div class="row d-flex pt-5 justify-content-center">
                <div class="col-md-4">
                    <div class="mx-2 p-2 rounded1 shadow bg-grey">
                        <img src="../../../assets/img/g1.png" class="img-fluid px-5" alt="">
                        <div class="row d-flex justify-content-between">
                            <div class="col-2 mx-5">
                                <div class="row">
                                    <div class="col-1">
                                        <div class="circle1"></div>
                                    </div>
                                    <div class="col-1">
                                        <div class="circle2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-1">
                                        <img src="../../../assets/img/icon/i2.png" class="icon-resize px-2" alt="">
                                    </div>
                                    <div class="col-1">
                                        <img src="../../../assets/img/icon/i7.png" class="icon-resize px-2" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex  mx-3 justify-content-between">
                        <div class="col">
                            <p class="text-dark mb-1 mt-3 fs-9">
                                عینک طبی مونتاژ
                            </p>
                            <p class="text-dark fs-10">

                                ۱.۵۰۰.۰۰۰ تومان
                            </p>
                        </div>
                        <div class="col text-start">
                            <button class="btn btn-white mt-4 bordered1 fs-9">مجازی امتحان کن</button>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mx-2 p-2 rounded1 shadow bg-grey">
                        <img src="../../../assets/img/g1.png" class="img-fluid px-5" alt="">
                        <div class="row d-flex justify-content-between">
                            <div class="col-2 mx-5">
                                <div class="row">
                                    <div class="col-1">
                                        <div class="circle1"></div>
                                    </div>
                                    <div class="col-1">
                                        <div class="circle2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-1">
                                        <img src="../../../assets/img/icon/i2.png" class="icon-resize px-2" alt="">
                                    </div>
                                    <div class="col-1">
                                        <img src="../../../assets/img/icon/i7.png" class="icon-resize px-2" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex  mx-3 justify-content-between">
                        <div class="col">
                            <p class="text-dark mb-1 mt-3 fs-9">
                                عینک طبی مونتاژ
                            </p>
                            <p class="text-dark fs-10">

                                ۱.۵۰۰.۰۰۰ تومان
                            </p>
                        </div>
                        <div class="col text-start">
                            <button class="btn btn-white mt-4 bordered1 fs-9">مجازی امتحان کن</button>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mx-2 p-2 rounded1 shadow bg-grey">
                        <img src="../../../assets/img/g1.png" class="img-fluid px-5" alt="">
                        <div class="row d-flex justify-content-between">
                            <div class="col-2 mx-5">
                                <div class="row">
                                    <div class="col-1">
                                        <div class="circle1"></div>
                                    </div>
                                    <div class="col-1">
                                        <div class="circle2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-1">
                                        <img src="../../../assets/img/icon/i2.png" class="icon-resize px-2" alt="">
                                    </div>
                                    <div class="col-1">
                                        <img src="../../../assets/img/icon/i7.png" class="icon-resize px-2" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex  mx-3 justify-content-between">
                        <div class="col">
                            <p class="text-dark mb-1 mt-3 fs-9">
                                عینک طبی مونتاژ
                            </p>
                            <p class="text-dark fs-10">

                                ۱.۵۰۰.۰۰۰ تومان
                            </p>
                        </div>
                        <div class="col text-start">
                            <button class="btn btn-white mt-4 bordered1 fs-9">مجازی امتحان کن</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <script>
        (function () {

            function addSeparator(nStr) {
                nStr += '';
                var x = nStr.split('.');
                var x1 = x[0];
                var x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + '.' + '$2');
                }
                return x1 + x2;
            }

            function rangeInputChangeEventHandler(e) {
                var rangeGroup = $(this).attr('name'),
                    minBtn = $(this).parent().children('.min'),
                    maxBtn = $(this).parent().children('.max'),
                    range_min = $(this).parent().children('.range_min'),
                    range_max = $(this).parent().children('.range_max'),
                    minVal = parseInt($(minBtn).val()),
                    maxVal = parseInt($(maxBtn).val()),
                    origin = $(this).context.className;

                if (origin === 'min' && minVal > maxVal - 5) {
                    $(minBtn).val(maxVal - 5);
                }
                var minVal = parseInt($(minBtn).val());
                $(range_min).html(addSeparator(minVal * 1000) + '  ');


                if (origin === 'max' && maxVal - 5 < minVal) {
                    $(maxBtn).val(5 + minVal);
                }
                var maxVal = parseInt($(maxBtn).val());
                $(range_max).html(addSeparator(maxVal * 1000) + '  ');
            }

            $('input[type="range"]').on('input', rangeInputChangeEventHandler);
        })();
    </script>

</body>