<div class="row">
    <div class="col-12 text-left">
        <p class="text-end text-dark mb-1 fs-9">{{model.titleFa}}</p>
        <p class="text-end text-dark mb-1 fs-9">
            {{model.price}}</p>
    </div>
    <div class="col-12 d-flex justify-content-center"><img [src]="model.imageUrl"
            class="img-resize" alt="">

    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-6 text-end">
            <button class="btn btn-light bordered1 fs-9">مجازی امتحان کن</button>
        </div>
        <div class="col-4 mt-2 d-flex justify-content-end">
            <div class="row ">
                <div class="col-1 px-2 text-start">
                    <div class="circle2"></div>
                </div>
                <div class="col-1 px-2 text-start">
                    <div class="circle1"></div>
                </div>
                <div class="col-1 px-2 text-start">
                    <div class="circle3"></div>
                </div>
            </div>
        </div>
    </div>
</div>