<!-- Header Start -->
<div class="container-fluid bg-dark p-0 mb-5">
    <div class="row g-0 flex-column-reverse flex-lg-row">
        <div class="col-lg-12 p-0">
            <div class="owl-carousel header-carousel header-carousel2">
                <div class="owl-carousel-item">

                    <div class="header-bg h-100 d-flex flex-column justify-content-center p-5">
                        <div class="row d-flex justify-content-end">
                            <div class="col-md-5 px-5">
                                <p class="text-dark mb-2 mt-5 pt-5 fs-7">
                                    آیپک، آینده انتخاب عینک </p>
                                <p class="text-dark mb-1">
                                    اینجا میتونی با استفاده از واقعیت مجازی هر عینکی که می‌‌خوای رو امتحان کنی و بعد از
                                    خرید غافلگیر
                                    نشی</p>
                                <div class="d-flex align-items-center pt-1 animated slideInDown">
                                    <a href="product-list/params" class="btn btn-primary rounded1">عینک آفتابی زنانه</a>
                                    <a href="product-list/params" class="btn btn-secondary rounded1 mx-2">عینک آفتابی مردانه</a>

                                </div>
                                <p class="text-primary mb-5 pb-5 px-1 pt-2">راهنمای انتخاب عینک <span> <img
                                            src="../../assets/img/icon/i3.png" class="icon-resize" alt=""></span></p>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="owl-carousel-item">

                    <div class="header-bg3 h-100 d-flex flex-column justify-content-center p-5">
                        <div class="row d-flex justify-content-end">
                            <div class="col-md-5 px-5">
                                <p class="text-dark mb-2 mt-5 pt-5 fs-7">
                                    آیپک، آینده انتخاب عینک </p>
                                <p class="text-dark mb-1">
                                    اینجا میتونی با استفاده از واقعیت مجازی هر عینکی که می‌‌خوای رو امتحان کنی و بعد از
                                    خرید غافلگیر
                                    نشی</p>
                                <div class="d-flex align-items-center pt-1 animated slideInDown">
                                    <a href="product-list/params" class="btn btn-primary rounded1">عینک طبی زنانه</a>
                                    <a href="product-list/params" class="btn btn-secondary rounded1 mx-2">عینک طبی مردانه</a>

                                </div>
                                <p class="text-primary mb-5 pb-5 px-1 pt-2">راهنمای انتخاب عینک <span> <img
                                            src="../../assets/img/icon/i3.png" class="icon-resize" alt=""></span></p>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="owl-carousel-item">

                    <div class="header-bg4 h-100 d-flex flex-column justify-content-center p-5">
                        <div class="row d-flex justify-content-end">
                            <div class="col-md-5 px-5">
                                <p class="text-dark mb-2 mt-5 pt-5 fs-7">
                                    آیپک، آینده انتخاب عینک </p>
                                <p class="text-dark mb-1">
                                    اینجا میتونی با استفاده از واقعیت مجازی هر عینکی که می‌‌خوای رو امتحان کنی و بعد از
                                    خرید غافلگیر
                                    نشی</p>
                                <div class="d-flex align-items-center pt-1 animated slideInDown">
                                    <a href="" class="btn btn-primary rounded1">عینک آفتابی زنانه</a>
                                    <a href="" class="btn btn-secondary rounded1 mx-2">عینک آفتابی مردانه</a>

                                </div>
                                <p class="text-primary mb-5 pb-5 px-1 pt-2">راهنمای انتخاب عینک <span> <img
                                            src="../../assets/img/icon/i3.png" class="icon-resize" alt=""></span></p>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
           
        </div>

    </div>
</div>

<!-- Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5 mx-4 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-dark mb-2 mt-5 pt-5 fs-7">
                    به کمک واقعیت مجازی ایپک
                    هر عینکی که می‌خوای به چشم بزن</p>
                <p class="text-dark mb-1">
                    با این قابلیت می‌تونی به راحتی و به کمک وب‌کم یا دوربین گوشیت عینک‌های مختلف رو روی صورتت ببینی</p>
                <div class="d-flex align-items-center pt-1 animated slideInDown">
                    <a href="product-list/params" class="btn btn-primary rounded1">زنانه</a>
                    <a href="product-list/params" class="btn btn-secondary rounded1 mx-2">مردانه</a>

                </div>
                <p class="text-primary mb-5 pb-5 px-1 pt-2">تمامی محصولات <img src="../../assets/img/icon/i3.png"
                        class="icon-resize" alt="">
                </p>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="img-border">
                    <img class="" src="../../assets/img/mask.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About Start -->
<div class="container-xxl bg-blue-light py-1">
    <div class="container">
        <div class="row g-5 py-1 d-flex justify-content-center">
            <div class="col-lg-12 text-center mx-4 my-1 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-dark mb-2 mt-5 pt-5 fs-8">به نسخه پزشک نیاز داری؟</p>
                <p class="text-dark mb-1 py-3">
                    از خونه برای دریافت نسخه پزشک یا پیدا کردن نزدیک‌ترین مطب چشم پزشکی اقدام کن
                </p>

                <p class="text-primary mb-5 px-1 pt-2">برای شروع کلیک کن<img src="../../assets/img/icon/i3.png"
                        class="icon-resize" alt="">
                </p>
            </div>

        </div>
    </div>
</div>
<!-- About End -->


<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">

        <div class="row d-flex justify-content-around px-3">
            <div class="col">
                <p class="text-dark mb-5 px-1 pt-2 fs-9">پرفروش‌ها
                </p>
            </div>
            <div class="col text-start">
                <p class="text-dark mb-5 px-1 pt-2 fs-9">برای شروع کلیک کن<img src="../../assets/img/icon/i3.png"
                        class="icon-resize" alt="">
                </p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div *ngFor="let model of productListForCarousel" class="testimonial-item text-center p-2 rounded2" 
                    >
                        <div class="testimonial-text rounded1  text-center p-4" style="box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.339);">
                            <app-product-card [model]="model" ></app-product-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

